body {
background-color: #D8D8D8;
}
h1 {
  color: teal;
  font-size: 70px;
  font-family:Impact, sans-serif;
  margin-bottom:0;
}
h2 {
  color: maroon;
  margin-bottom:0;
  font-family:Impact, sans-serif;
}
h3 {
  color:teal;
  font-family:Impact, sans-serif;
  float: right;
  margin: 0 0 10px 10px;
}
p {
  color: black;
  font-family:Impact, sans-serif;
}
ul {
  color: black;
  font-family:Impact, sans-serif;
  }
  .date { margin-top: 8px;
  }
body {
  margin: 0 200px;
}
