h1 {
  color: teal;
  font-size: 70px;
  font-family:Impact, sans-serif;
  margin-bottom:0;
}
h2 {
  color: maroon;
  margin-bottom:0;
  font-family:Impact, sans-serif;
}
p {
  color: gray;
  font-family:Impact, sans-serif;
}
ul {
  color: teal;
  font-family:Impact, sans-serif;
  }
body {
  margin: 0 200px;
}
