body {
background-color: #ccffff;
}
h1 {
  color: teal;
  font-size: 70px;
  font-family:Impact, sans-serif;
  margin-bottom:0;
}
h2 {
  color: maroon;
  margin-bottom:0;
  font-family:Impact, sans-serif;
}
h3 {
  color:teal;
  font-family:Impact, sans-serif;
  float: right;
  margin: 0 0 10px 10px;
}
p {
  color: white;
  font-family:Impact, sans-serif;
}
ul {
  color: white;
  font-family:Impact, sans-serif;
  }
body {
  margin: 0 200px;
}
